@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

.wrapper {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.under-construction {
	text-align: center;
}

a {
	text-decoration: none;
	color: white;
	font-size: 2rem;
}

.social {
	margin-top: 32px;
}

.social-icon {
	height: 32px;
	width: 32px;

	transition-duration: .3s;
	transition-property: transform;

	&:hover {
	}
}

.social-icon:hover {
	transform: translateY(-5px);
}